body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0; }

#internationalUpdateForm {
  margin-bottom: 30px; }

.myProfile h1, .myProfile .h1, .myProfile h2, .myProfile .h2, .myProfile h5, .myProfile .h5, .myProfile p, .myProfile a {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .myProfile h1, .myProfile .h1, .myProfile h2, .myProfile .h2, .myProfile h5, .myProfile .h5 {
    font-family: 'Charles Modern Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

#invalidEmailsWarning ul {
  padding-left: 40px; }
  #invalidEmailsWarning ul li {
    list-style-type: disc; }

#invalidRestrictedWarning ul {
  padding-left: 40px; }
  #invalidRestrictedWarning ul li {
    list-style-type: disc; }

.editProfile label, .editProfile input, .editProfile select {
  font-family: Helvetica;
  font-size: 15px;
  line-height: normal; }

.editProfile label {
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .editProfile label {
    font-size: 15px; } }

.editProfile input {
  box-sizing: border-box; }

.myProfile h1, .myProfile .h1 {
  font-family: 'Charles Modern Light';
  font-size: 22px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .myProfile h1, .myProfile .h1 {
    font-size: 25px; } }

.myProfile #clientName {
  font-weight: 200;
  text-transform: uppercase;
  color: #333; }

@media (min-width: 768px) {
  .myProfile #clientName {
    font-size: 23px;
    margin-bottom: 5px; } }

@media (min-width: 1024px) {
  .myProfile #clientName {
    font-size: 30px; } }

.myProfile h2, .myProfile .h2, .editProfile h2, .editProfile .h2 {
  color: #000;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .myProfile h2, .myProfile .h2 {
    font-family: 'Charles Modern Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px; } }

.myProfile h3, .myProfile .h3 {
  margin-bottom: 10px; }

.myProfile h4, .myProfile .h4 {
  color: #000;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 0px; }

@media (min-width: 768px) {
  .myProfile h4, .myProfile .h4 {
    font-size: 19px; } }

.myProfile h5, .myProfile .h5 {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px; }

.editProfile P, .myProfile P {
  display: block;
  font-size: 14px;
  margin-bottom: 5px; }

@media (min-width: 375px) {
  .myProfile p, .editProfile p {
    margin-bottom: 10px; } }

.myProfile a, .editProfile a {
  cursor: pointer;
  color: #0066CC;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  margin-bottom: 5px; }

.myProfile .cursor {
  cursor: pointer; }

@media (min-width: 375px) {
  .myProfile a, .editProfile a {
    margin-bottom: 10px; } }

.myProfile p a, .editProfile p a {
  margin-bottom: 0px; }

.editProfile label {
  font-size: 15px; }

.myProfile .light {
  color: #666 !important; }

@media (min-width: 375px) {
  .myProfile .light {
    color: #000 !important; } }

.myProfile hr {
  background: #D9D9D9;
  border: 0px;
  height: 1px;
  margin-top: 7px;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .myProfile hr {
    margin-bottom: 15px; } }

.icon-mini-logo {
  border-radius: 10px;
  background-color: #425563;
  border-image-outset: none;
  border-style: none;
  display: inline-block;
  margin: 0px 0px;
  vertical-align: middle;
  color: white;
  min-width: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px 7px; }

.myProfile ul, .editProfile ul {
  padding: 0; }

.myProfile ul li, .editProfile ul li {
  list-style-type: none; }

.cmsConsent {
  font-size: 14px; }
  .cmsConsent ul {
    margin: 16px 1em; }
    .cmsConsent ul li {
      list-style-type: disc; }
  .cmsConsent a {
    display: inline; }
  .cmsConsent a[href*="cmsid=P-"] {
    vertical-align: baseline;
    padding-right: 15px;
    background-repeat: no-repeat;
    background: url(../Images/icon.png) no-repeat 100% -217px; }

.myProfile .margin-bottom-large, .editProfile .margin-bottom-large {
  margin-bottom: 20px; }

.myProfile .sdps-messaging--error, .editProfile .sdps-messaging--error {
  padding: 16px 16px 8px 45px; }
  .myProfile .sdps-messaging--error p a, .editProfile .sdps-messaging--error p a {
    margin-bottom: 0px; }

.myProfile .sdps-messaging--warning, .editProfile .sdps-messaging--warning {
  margin-top: 10px;
  padding: 16px 16px 8px 45px; }

address-list-account-container .sch-exclamation-triangle-2x:before, email-list-account-container .sch-exclamation-triangle-2x:before, phone-list .sch-exclamation-triangle-2x:before, email-list-container .sch-exclamation-triangle-2x:before {
  font-size: 22px; }

phone-list-item .sdps-messaging--warning, email-list-container .sdps-messaging--warning, address-list-account-container .sdps-messaging--warning, email-list-account-container .sdps-messaging--warning {
  background-color: #fbf1c6;
  border: none !important;
  margin: 0px !important;
  min-height: 0px !important;
  padding: 0px 16px 0px 28px !important; }

phone-list-item .sdps-messaging--warning, email-list-container .sdps-messaging--warning, address-list-account-container .sdps-messaging--warning, email-list-account-container .sdps-messaging--warning {
  min-height: 0px !important; }

phone-list-item .sdps-messaging--warning .sdps-messaging__icon, email-list-container .sdps-messaging--warning .sdps-messaging__icon, address-list-account-container .sdps-messaging--warning .sdps-messaging__icon, email-list-account-container .sdps-messaging--warning .sdps-messaging__icon {
  color: #edb700;
  left: 4px !important;
  top: -12px !important; }
  phone-list-item .sdps-messaging--warning .sdps-messaging__icon[class*="-2x"]:before, email-list-container .sdps-messaging--warning .sdps-messaging__icon[class*="-2x"]:before, address-list-account-container .sdps-messaging--warning .sdps-messaging__icon[class*="-2x"]:before, email-list-account-container .sdps-messaging--warning .sdps-messaging__icon[class*="-2x"]:before {
    font-size: 22px !important; }

phone-list-item .phone-warning .sdps-messaging--warning, email-list-container .phone-warning .sdps-messaging--warning, address-list-account-container .phone-warning .sdps-messaging--warning, email-list-account-container .phone-warning .sdps-messaging--warning {
  width: 132px; }

.myProfile .sdps-messaging--warning p a, .editProfile .sdps-messaging--warning p a {
  margin-bottom: 0px; }

.myProfile .schCard {
  background: #F1F1F1;
  border-bottom: 1px solid #D9D9D9;
  padding: 24px 10px; }

@media (min-width: 768px) {
  .myProfile .schCard {
    padding: 0px 0px 24px; } }

.myProfile .schCard > .schContainer {
  background: #FFF;
  border: 1px solid #D9D9D9;
  padding: 10px 10px 0;
  margin-top: 10px;
  margin-bottom: 16px;
  max-width: 998px; }

@media (min-width: 375px) {
  .myProfile .schCard > .schContainer {
    background: #FFF;
    border: 1px solid #D9D9D9;
    padding: 20px 20px 0;
    margin-top: 10px;
    margin-bottom: 16px; } }

.schContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 998px; }

/* Row Styles */
.schFlexRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.schStartRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  margin-right: -10px;
  margin-left: -10px; }

.schStartRow {
  justify-content: flex-start; }

.schEndRow, .schSpacedRow {
  margin-right: -10px;
  margin-left: -10px; }

.schStartRow.col-align-top, .schEndRow.col-align-top .schFlexRow.col-align-top {
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.schStartRow.col-align-middle, .schEndRow.col-align-middle .schFlexRow.col-align-middle {
  -ms-flex-align: center !important;
  align-items: center !important; }

.schStartRow.col-align-bottom, .schEndRow.col-align-bottom .schFlexRow.col-align-bottom {
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

@media (min-width: 1024px) {
  .schEndRow, .schSpacedRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap; }
  .schEndRow {
    justify-content: flex-end; }
  .schSpacedRow {
    justify-content: space-between; } }

@media (min-width: 768px) {
  .schGridRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px; } }

.schAlignBottom {
  align-items: flex-end; }

/* Column Styles */
.schEndRow > .schCol, .schSpacedRow > .schCol, .schStartRow > .schCol {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

@media (min-width: 768px) {
  .schGridRow > .schCol {
    flex-basis: 0;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px; }
  .schGridRow > .landlineNumber {
    flex-basis: unset;
    -webkit-flex-basis: unset; }
  .schGridRow > .landlineExtn, .schGridRow > .mobileVerify {
    flex-basis: unset;
    -webkit-flex-basis: unset; }
  .mobileVerify {
    padding-top: 33px; } }

.schCol.schColRemovePadding {
  padding-left: 0;
  padding-right: 0; }

.schFlexRow > .schFlexCol {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.schFlexRow > .schFlexCol-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.schFlexRow > .schFlexCol-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.schFlexRow > .schFlexCol-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.schFlexRow > .schFlexCol-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.schFlexRow > .schFlexCol-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.schFlexRow > .schFlexCol-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.schFlexRow > .schFlexCol-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.schFlexRow > .schFlexCol-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.schFlexRow > .schFlexCol-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.schFlexRow > .schFlexCol-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.schFlexRow > .schFlexCol-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.schFlexRow > .schFlexCol-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .schFlexRow > .schFlexCol-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .schFlexRow > .schFlexCol-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .schFlexRow > .schFlexCol-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .schFlexRow > .schFlexCol-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .schFlexRow > .schFlexCol-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .schFlexRow > .schFlexCol-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .schFlexRow > .schFlexCol-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .schFlexRow > .schFlexCol-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .schFlexRow > .schFlexCol-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .schFlexRow > .schFlexCol-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .schFlexRow > .schFlexCol-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .schFlexRow > .schFlexCol-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 1024px) {
  .schFlexRow > .schFlexCol-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .schFlexRow > .schFlexCol-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .schFlexRow > .schFlexCol-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .schFlexRow > .schFlexCol-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .schFlexRow > .schFlexCol-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .schFlexRow > .schFlexCol-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .schFlexRow > .schFlexCol-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .schFlexRow > .schFlexCol-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .schFlexRow > .schFlexCol-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .schFlexRow > .schFlexCol-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .schFlexRow > .schFlexCol-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .schFlexRow > .schFlexCol-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .secondaryLabel {
    color: #737373; } }

.mp-phone {
  min-width: 62px; }

.sdps-form-element__error {
  font-size: 14px; }

.sdps-form-element__label {
  display: inline-block; }

.sdps-form-element__labelDesc {
  color: #666;
  font-size: 14px;
  padding-left: 10px; }

.sdps-modal-open {
  overflow: hidden; }

.sdps-modal-open .sdps-modal {
  overflow-x: hidden;
  overflow-y: auto; }

.sdps-modal {
  background: transparent !important;
  overflow: hidden;
  outline: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100001; }

@media (min-width: 768px) {
  .sdps-modal {
    border-radius: 2px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5); } }

/*.sdps-modal.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }
  
  .sdps-modal.fade.show {
    opacity: 1;
  }
  
  .sdps-modal.fade.show .sdps-modal-dialog {
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
  
  .sdps-modal.fade .sdps-modal-dialog {
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
      -webkit-transform: translate(0, 125%);
      -o-transform: translate(0, 125%);
      transform: translate(0, 125%);
  }
  
  @media (min-width: $tablet-width) {
    .sdps-modal.fade .sdps-modal-dialog {
      -webkit-transform: translate(0, -25%);
      -o-transform: translate(0, -25%);
      transform: translate(0, -25%);
    }
  }*/
.sdps-modal-dialog {
  margin: 0px auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  z-index: 100002; }

@media (min-width: 768px) {
  .sdps-modal-dialog {
    max-width: 450px;
    min-width: 350px;
    margin-top: 10%;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow-y: auto;
    width: 60%; } }

.sdps-modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0; }

@media (min-width: 768px) {
  .sdps-modal-content {
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5); } }

.sdps-modal-header {
  color: #FFF;
  height: 62px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

@media (min-width: 768px) {
  .sdps-modal-header {
    color: #222;
    background-color: transparent;
    display: table-cell;
    height: auto;
    padding-left: 20px;
    padding: 20px;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    vertical-align: middle;
    white-space: nowrap; } }

.sdps-modal-header h2 {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 62px;
  padding-left: 10px;
  text-align: left;
  margin-top: 0px; }

@media (min-width: 768px) {
  .sdps-modal-header h2 {
    color: #222;
    font-family: 'Charles Modern Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: normal;
    padding-bottom: 0px;
    padding-left: 0px; } }

.sdps-button.sdps-modal-close {
  color: #666;
  font-family: 'Schwab-Icon-Font';
  font-size: 1.3125rem !important;
  height: 62px;
  line-height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px; }

@media (min-width: 768px) {
  .sdps-button.sdps-modal-close:hover {
    background-color: #f4f4f4;
    color: #222; } }

.sdps-modal-body {
  border-top: 1px solid #DDD;
  margin-top: 62px;
  padding: 20px 0px 10px; }

@media (min-width: 768px) {
  .sdps-modal-body {
    margin-top: 0px;
    padding: 20px 10px 10px; } }

@media (min-width: 768px) {
  .sdps-modal-footer .sdps-button--primary {
    margin-left: 8px; } }

.sdps-modal-footer {
  background-color: #FFF;
  border-top: 1px solid #DDD;
  padding: 15px 0px;
  margin: 0 10px !important; }

@media (min-width: 768px) {
  .sdps-modal-footer {
    margin: 0 20px !important;
    padding: 20px 0px;
    text-align: right; } }

.sdps-backdrop {
  background: #FFF;
  opacity: 1;
  z-index: 100000; }

@media (min-width: 768px) {
  .sdps-backdrop {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; } }

.sdps-mosaic-tile-container {
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  margin-left: -10px;
  margin-bottom: 20px;
  margin-right: -10px; }

@media (min-width: 768px) {
  .sdps-mosaic-tile-container {
    margin-left: -20px;
    margin-right: -20px; } }

.panel-header {
  margin-bottom: 6px; }

basic-tile-chevron, .myprofile-mosaic-tile-chevron, .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-header .sdps-mosaic-tile-chevron {
  border: 0px;
  color: #999999;
  font-family: 'Schwab-Icon-Font' !important;
  font-size: 1.3125rem !important;
  display: inline-block;
  height: 25px;
  margin: 0px;
  padding: 0px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 25px; }

basic-rotateCaret, .myprofile-mosaic-tile-chevron.rotateCaret, .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-header .sdps-mosaic-tile-chevron.rotateCaret {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

button.myprofile-mosaic-tile-chevron {
  margin-left: 6px;
  padding: 0px; }

@media (min-width: 768px) {
  button.myprofile-mosaic-tile-chevron {
    margin-left: -5px; } }

.myprofile-panel-header {
  display: inline-block;
  line-height: 25px;
  padding-left: 2px;
  vertical-align: top; }

.sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 0 !important; }
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper.primary {
    border-left: 5px solid #037DAE; }
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper.secondary {
    border-left: 5px solid #646464; }
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-header {
    padding: 10px 15px 0px 10px; }
    .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-header h4 {
      display: inline-block;
      line-height: 25px;
      padding-left: 2px;
      vertical-align: top; }
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-body {
    display: block;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    padding: 0px 15px 15px 30px; }
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-content {
    display: none; }
    .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-content.show {
      display: block; }

.sdps-mosaic-tile-container .header-addition {
  display: inline-block;
  margin-left: 5px; }
  .sdps-mosaic-tile-container .header-addition span {
    vertical-align: text-bottom; }

/*
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper:last-child {
    border-bottom: none;
  }*/
@media (min-width: 768px) {
  .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-header {
    padding: 20px 15px 10px 10px; } }

h2.tooltip-header {
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle; }

.sdps-modal-tooltip {
  background: #FFF;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000; }

.sdps-tooltip-open {
  overflow: hidden; }

.sdps-tooltip-header {
  color: #FFF;
  height: 62px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.sdps-button.sdps-tooltip-close {
  color: #666;
  font-family: 'Schwab-Icon-Font';
  font-size: 1.3125rem !important;
  height: 62px;
  line-height: 48px;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px; }

.sdps-modal__text {
  border-top: 1px solid #DDD;
  margin-top: 62px;
  padding: 20px 10px 10px; }

.sdps-modal-tooltip--top:after, .sdps-modal-tooltip--top:before {
  display: none; }

.cmsSuccess, .cmsEnroll {
  font-size: 12px; }

@media (min-width: 768px) {
  .cmsSuccess, .cmsEnroll {
    font-size: 14px; } }

@media (min-width: 768px) {
  .sdps-modal-tooltip {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #cccccc;
    max-width: 850px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto; }
  .sdps-modal-tooltip:after {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #cccccc;
    z-index: -1; }
  .sdps-modal-tooltip[aria-expanded="true"] {
    display: block; }
  .sdps-modal-tooltip[aria-expanded="false"] {
    display: none; }
  .sdps-tooltip-header {
    display: none; }
  .sdps-modal__text {
    border-top: none;
    margin-top: 0px;
    padding: 0px; }
  button.sdps-button--icon:focus + [role="tooltip"] {
    display: block; }
  .sdps-modal-tooltip:after, .sdps-modal-tooltip:before {
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 1.5rem;
    bottom: -.5rem;
    margin-left: -.5rem; }
  .sdps-modal-tooltip--top {
    bottom: 200%;
    left: -15px; }
    .sdps-modal-tooltip--top:after, .sdps-modal-tooltip--top:before {
      top: 100%;
      margin-top: -.5rem; }
  .sdps-modal-tooltip--bottom {
    top: 200%;
    left: -15px; }
    .sdps-modal-tooltip--bottom:after, .sdps-modal-tooltip--bottom:before {
      bottom: 100%;
      margin-bottom: -.5rem; }
  .sdps-modal-tooltip--right {
    top: -36px;
    left: 200%; }
    .sdps-modal-tooltip--right:after, .sdps-modal-tooltip--right:before {
      top: 32px;
      left: 0; } }

.sdps-modal-tooltip .sdps-modal__text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400; }

.trusted-contact-description ul li {
  list-style-type: unset; }

.agreements-section {
  font-family: Arial;
  font-size: 11px;
  line-height: 14px;
  color: #666; }

#tc-page-link {
  float: left; }

.verify-mobilenumber-verification-description {
  margin-bottom: 15px; }

.verify-mobilenumber-label-description {
  margin-bottom: 10px; }

.verify-mobilenumber-agreements-section {
  margin-left: 12px; }

.verify-mobilenumber-setpadding {
  padding-right: 10px;
  padding-left: 10px; }

.agreements-section .mrgn-btm5 {
  margin-bottom: 10px;
  margin-left: -12px; }

.agreements-section ul.alert-messsaging-error-formlist li {
  list-style-type: disc !important; }

.agreements-section ol.alert-messsaging-error-formlist li {
  list-style-type: disc !important; }

.verify-smsconfirmation-schcontainer {
  margin-left: -12px; }

.verify-smsconfirmation-description {
  margin-bottom: 10px;
  font-size: 8px; }

.verify-smsconfirmation-sdps-form-element {
  margin-bottom: 10px; }

.landlineNumber {
  flex-basis: unset;
  -webkit-flex-basis: unset;
  width: 65%; }

.landlineExtn, .mobileVerify {
  flex-basis: unset;
  -webkit-flex-basis: unset;
  width: 25%; }

.alliance-image-panel {
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  float: left; }

.alliance-details-panel {
  width: 220px;
  padding-left: 10px;
  padding-top: 10px;
  float: left; }

.alliance-account-details-section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-style: normal; }

.alliance-account-details-mastername-section {
  font-weight: bold; }

.alliance-account-investmentcms-section {
  clear: both;
  background: #fff;
  color: #666;
  padding-bottom: 5px;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px; }

.alliance-account-compliance-section {
  padding-bottom: 2px; }

.alliance-details-panel > div > p {
  font-size: 12px;
  color: #000000; }

.alliance-account-investmentcms-section > div > p {
  font-size: 11px !important;
  color: #666 !important; }

.alliance-logo {
  padding: .5px 0px 0px 1.5px;
  line-height: 24px;
  color: white;
  text-decoration: none; }

.important-information-text {
  font-size: 12px;
  color: #000000;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px; }

.alliance-account-important-information {
  padding-bottom: 2px;
  color: #666;
  font-size: 11px; }

.myProfile .margin-top-alliance-logo {
  margin-top: -5px; }

.margin-top-address {
  padding-top: 10px; }

/*#region Tooltip */
.sdps-is-relative {
  position: relative; }

.sdps-tooltip--container .sch-info-small {
  vertical-align: text-top; }

.sdps-overlay--active, .sdps-tooltip--active {
  z-index: 101000 !important; }

.sdps-button--icon {
  color: #0066cc;
  z-index: 3; }

.sdps-button--icon:hover {
  color: #004386; }

.sdps-button--icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.sdps-button--icon--chevron {
  color: #666; }

.sdps-button--icon:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.sdps-text-l-light-heading {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #333;
  font-family: "CharlesModern-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.sdps-tooltip-close {
  font-size: 21px !important;
  font-size: 21px !important/16pxrem;
  color: #666;
  font-size: 21px !important;
  height: 55px;
  line-height: 56px !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px; }

.sdps-tooltip-close:hover {
  background-color: #f1f1f1;
  border-radius: 2px;
  color: #222; }

.sdps-tooltip__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

/*#endregion */
.myProfile #TitleName {
  font-size: 18px; }

.checkbox_Margin {
  margin-top: 20px;
  margin-bottom: 20px; }

/*
   @media print is not using to support both print-preview and print screens.
  */
form[action*="PrintPopup.aspx"] .schGridRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

form[action*="PrintPopup.aspx"] .schGridRow > .schCol {
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px; }

form[action*="PrintPopup.aspx"] .landlineNumber {
  flex-basis: unset;
  -webkit-flex-basis: unset; }

form[action*="PrintPopup.aspx"] .landlineExtn, form[action*="PrintPopup.aspx"] .mobileVerify {
  flex-basis: unset;
  -webkit-flex-basis: unset; }

form[action*="PrintPopup.aspx"] h1 {
  text-indent: 0px; }

form[action*="PrintPopup.aspx"] sch-panel .sdps-mosaic-tile-chevron {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

form[action*="PrintPopup.aspx"] .sdps-mosaic-tile-container .sdps-mosaic-tile-wrapper .sdps-mosaic-tile-content {
  display: block; }

form[action*="PrintPopup.aspx"] button, form[action*="PrintPopup.aspx"] a:not(.link-print), form[action*="PrintPopup.aspx"] link {
  pointer-events: none; }

.sdps-text-muted .sdps-modal-tooltip {
  color: #000 !important; }

.sdps-checkbox__input {
  margin-top: 2px !important; }
